body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

nav{
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 16px;
    background-color: #0097dd;
}

nav a{
    color: #fff;
    text-decoration: none;
}

#logo-home{
    height: 30px;
}

#hero-home{
  height: 400px;
  width: 100%;
  background-image: url("https://www.lasdelaintuicion.com/static/media/qfde.62db3fa9.png");

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position:bottom;
}

#hero-home img{
  width: 45%;
  height: 300px;
}

#grid-example{
  display: flex;
}

#grid-container{
  display: grid;
  background-color: green;

  grid-template-columns: 100px 100px ;
  grid-template-rows: 100px 100px 100px;
  column-gap: 15px;
  row-gap: 15px;
}

#grid-container div{
  background-color: red;
  border-radius: 20px;
  border: solid black 2px;
  text-align: center;

  display: flex;
  align-items: center;
}

.mr-md{
    margin-right: 20px;
}
