body{
    margin: 0;
}

nav{
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;

    background-color: #0097dd;
}

nav a{
    color: #fff;
    text-decoration: none;
}

#logo-home{
    height: 30px;
}

.mr-md{
    margin-right: 20px;
}






